[Unit]
Description='Auto-start applications in ~/.config/autostart'

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/dex -va -e awesome -s %h/.config/autostart

[Install]
WantedBy=graphical.target
