[Unit]
Description=GPG and SSH Key Agent

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --quiet --daemon --enable-ssh-support --write-env-file %h/.gnupg/gpg-agent.info
Restart=on-abort

[Install]
WantedBy=default.target