/*
/*/
!/bin/

!.gitignore
!.tmux.conf
!.zshrc

# Allow only certain dirs from .config
!/.config
/.config/*

# Do not allow wants in user systemd
!/.config/systemd
/.config/systemd/user/*.wants

!/.config/kitty
!/.config/yay
!/.config/redshift
!/.config/zsh/*.zsh
!/.config/zsh/*.hs
!/.config/awesome/*.lua
!/.config/fcitx
/.config/fcitx/*
!/.config/fcitx/config

!/.vim/
/.vim/*
!/.vim/vimrc
!/.vim/spellfile
